<h1>Edit user</h1>
<%= form_for @user do |f| -%>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="clearfix">
    <%= f.label :name, :class => "xlInput" %>
    <div class="input">
        <%= f.text_field :name, :class => "medium" %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :email, :class => "xlInput" %>
    <div class="input">
        <%= f.text_field :email, :class => "medium" %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :password, :class => "xlInput", :error_class => 'custom-error-class' %>
    <div class="input">
        <%= f.password_field :password, :class => "medium" %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :password_confirmation, "Confirmation", :class => "xlInput" %>
    <div class="input">
        <%= f.password_field :password_confirmation, :class => "medium" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Update", :class => "btn primary" %>
  </div>
<% end -%>
<div>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails">change</a> 
</div>