<h1>Sign up</h1>
<%= semantic_form_for @user do |f| %>
  <%= f.input :name, :error_class => 'custom-error-class' %>
  <%= f.input :email %>
  <%= f.buttons do %>
       <%= f.commit_button %>
  <% end %>
<% end -%>