<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag "bootstrap", "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 40px">
    <%= render 'layouts/header' %>
    <div class="container">
        <div class="content">
          <% flash.each do |key, value| %>
            <div class="alert-message <%= key %>">
              <%= value %>
            </div>
          <% end -%>
          <%= yield %>
        </div>
    </div>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>

</body>
</html>
